/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/nav-list.scss";
@import "./blocks/main.scss";
@import "./blocks/hero.scss";
@import "./blocks/programs.scss";
@import "./blocks/program.scss";
@import "./blocks/instructions.scss";
@import "./blocks/example.scss";
@import "./blocks/result-card.scss";
@import "./blocks/expenses.scss";
@import "./blocks/footer.scss";
@import "./blocks/cooperation.scss";
@import "./blocks/adress.scss";
@import "./blocks/map.scss";
@import "./blocks/footer-logo.scss";
@import "./blocks/social.scss";
@import "./blocks/developer.scss";
@import "./blocks/catalog.scss";
@import "./blocks/product-card.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/product.scss";
@import "./blocks/promotion.scss";
@import "./blocks/subscribe.scss";

