.additional-products {
  padding: 22px 20px;

  @media (min-width: $tablet-width) {
    padding: 20px 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
    padding: 0;
    width: 1220px;
    margin: 0 auto;
  }
}

.additional-products__title {
  margin: 0;
  font-family: $oswald;
  font-weight: 400;
  position: relative;
  z-index: 1;
  display: inline;
  background: #ffffff;
  box-shadow: -41px 0 #ffffff, 41px 0 #ffffff;
  width: fit-content;

  &::before {
    content: "";
    z-index: -1;
    background: #68b738;
    width: 100vw;
    height: 2px;
    position: absolute;
    top: 16px;
    box-shadow: 100vw 0 #68b738;
  }

  @media (min-width: $tablet-width) {
    right: 0;
    font-size: 32px;
    padding: 0 41px;
    box-shadow: -1px 0 #ffffff, 1px 0 #ffffff;

    &::before {
      top: 23px;
      right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    box-shadow: -40px 0 #ffffff, 41px 0 #ffffff;
    font-size: 40px;
    padding: 0;
    margin-bottom: 68px;

    &::before {
      top: 28px;
    }
  }
}

.additional-products__block {
  @media (min-width: $tablet-width) {
    padding-top: 71px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__list {
  padding: 13px 0 1px;
  list-style-type: none;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 1px solid #cdcdcd;
    margin: 0;
  }
}

.additional-products__item {
  border-top: 1px solid #cdcdcd;
  padding: 10px 0 17px;

  @media (min-width: $tablet-width) {
    padding: 21px 39px 24px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 16px 0 0;
  }
}
