.example {
  background: #eaeaea;
  padding: 20px 20px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding: 30px 30px 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 66px;
    background-color: #f2f2f2;
  }
}

.example__header {
  margin: 0 0 33px;
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin: 0 0 47px;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
    margin: 0;
    padding: 12px 0 63px;

    & span {
      display: block;
      width: 1220px;
      margin: 0 auto;
      box-sizing: border-box;
      padding-right: 500px;
    }
  }
}

.example__block {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    margin: 0;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 432px;
    padding-bottom: 69px;
    padding-top: 70px;
  }
}

.example__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-bottom: 0;
  }
}

.example__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 33px;

  @media (min-width: $tablet-width) {
    width: 380px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 46px;
    width: 375px;
  }
}

.example__item {
  list-style-type: none;
  margin: 0;
  min-width: 122px;
}

.example__slider {
  width: 280px;
  height: 256px;
  background: #444444;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-top: -132px;
  }
}
