.example {
  background: #eaeaea;
  padding: 20px 20px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding: 30px 30px 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 111px 10px;
    background-color: #f2f2f2;
  }
}

.example__header {
  margin: 0 0 33px;
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin: 0 0 47px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    margin: 0;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 432px;
    padding-bottom: 69px;
  }
}

.example__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 33px;

  @media (min-width: $tablet-width) {
    width: 368px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 49px;
  }
}

.example__item {
  list-style-type: none;
  margin: 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  min-width: 122px;
}

.example__slider {
  width: 280px;
  height: 256px;
  background: #444444;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    padding-bottom: 89px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 15px;
    left: 755px;
  }
}
