.footer {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.footer__wrapper {
  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.footer__container {
  padding: 39px 19px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 54px 31px;
    display: flex;
    justify-content: space-between;

    @media (min-width: $desktop-width) {
      width: 1220px;
      margin: 0 auto;
      padding: 62px 31px 70px;
    }
  }
}

