.hero {
  font-family: $oswald;

  @media (min-width: $tablet-width) {
    padding: 57px 121px 526px;
    position: relative;

    &::before {
      content: "";
      width: 709px;
      height: 609px;

      position: absolute;
      z-index: -1;
      background-image:
        image-set(url("../../images/index-can-t@1x.webp") type("image/webp") 1x,
          url("../../images/index-can-t@2x.webp") type("image/webp") 2x,
          url("../../images/index-can-t@1x.jpg") type("image/jpg") 1x,
          url("../../images/index-can-t@2x.jpg") type("image/jpg") 2x);
      background-repeat: no-repeat;
      bottom: 0;
      left: 31px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 103px 0 0;

    &::before {
      content: "";
      background-image:
        image-set(url("../../images/index-cat-d@1x.webp") type("image/webp") 1x,
          url("../../images/index-cat-d@2x.webp") type("image/webp") 2x,
          url("../../images/index-cat-d@1x.jpg") type("image/jpg") 1x,
          url("../../images/index-cat-d@2x.jpg") type("image/jpg") 2x);
      background-repeat: no-repeat;
      width: 50%;
      background-size: auto 100%;
      height: calc(100% + 121px);
      background-position: top left;
      position: absolute;
      right: 0;
      top: -121px;
      z-index: 1;
      left: unset;
      bottom: unset;
    }

    &::after {
      content: "";
      background-color: $theme;
      opacity: 0.85;
      width: 50%;
      height: calc(100% + 121px);
      position: absolute;
      right: 0;
      top: -121px;
      z-index: 2;
      left: unset;
      bottom: unset;
    }

  }
}

.hero__container {
  @media (min-width: $desktop-width) {
    z-index: 5;
    box-sizing: border-box;
    width: 1220px;
    margin: 0 auto;
    padding: 0 672px 114px 80px;
    min-height: 469px;
    position: relative;

    &::before {
      content: "";
      background-image:
        image-set(url("../../images/index-can-d@1x.webp") type("image/webp") 1x,
          url("../../images/index-can-d@2x.webp") type("image/webp") 2x,
          url("../../images/index-can-d@1x.jpg") type("image/jpg") 1x,
          url("../../images/index-can-d@2x.jpg") type("image/jpg") 2x);
      top: -79px;
      left: 50%;
      transform: translateX(-29%);
      z-index: 20;
      width: 552px;
      height: 499px;
      position: absolute;
    }
  }
}

.hero__wrapper {
  padding-bottom: 135px;
  position: relative;
  margin-bottom: 3px;

  &::before {
    content: "";
    width: 280px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-image:
      image-set(url("../../images/index-can-m@1x.webp") type("image/webp") 1x,
        url("../../images/index-can-m@2x.webp") type("image/webp") 2x,
        url("../../images/index-can-m@1x.jpg") type("image/jpg") 1x,
        url("../../images/index-can-m@2x.jpg") type("image/jpg") 2x);
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;

    &::before {
      display: none;
    }
  }
}

.hero__block {
  padding-top: 27px;
  background-image:
    image-set(url("../../images/index-cat-m@1x.webp") type("image/webp") 1x,
      url("../../images/index-cat-m@2x.webp") type("image/webp") 2x,
      url("../../images/index-cat-m@1x.jpg") type("image/jpg") 1x,
      url("../../images/index-cat-m@2x.jpg") type("image/jpg") 2x);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #414045;
  position: relative;
  padding-bottom: 138px;
  background-size: auto 100%;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $theme;
    opacity: 0.85;
  }

  @media (min-width: $tablet-width) {
    background: none;
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.hero__title {
  color: #ffffff;
  text-align: center;
  margin: 0 auto 27px;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  position: relative;
  z-index: 5;
  width: 270px;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 0 0 43px;
    width: 500px;
  }
}

.hero__slogan {
  padding: 0;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: block;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  z-index: 5;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 20px;
    margin-bottom: 53px;
    text-align: left;
  }
}

.hero__link {
  text-decoration: none;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
  background-color: $theme;
  text-align: center;
  display: block;
  padding: 0 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  border: none;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 54px;
    min-width: 242px;
    width: 20%;
  }
}