.instructions{
}

.instructions__header{
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}

.instructions__item{
  list-style-type: none;
  padding-left: 60px;
  margin-bottom: 29px;
}

.instructions__text{
  font-size: 14px;
  margin: 0;
  color: #444444;
}
