
.map__google {
  background-image:
    image-set(url("../../images/map-m@1x.webp") type("image/webp") 1x,
    url("../../images/map-m@2x.webp") type("image/webp") 2x,
    url("../../images/map-m@1x.jpg") type("image/jpg") 1x,
    url("../../images/map-m@2x.webp") type("image/jpg") 2x);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../../images/map-t@1x.webp") type("image/webp") 1x,
      url("../../images/map-t@2x.webp") type("image/webp") 2x,
      url("../../images/map-t@1x.jpg") type("image/jpg") 1x,
      url("../../images/map-t@2x.webp") type("image/jpg") 2x);
  }

  @media (min-width: $desktop-width) {
    height: 100%;
    background-image:
      image-set(url("../../images/map-d@1x.webp") type("image/webp") 1x,
      url("../../images/map-d@2x.webp") type("image/webp") 2x,
      url("../../images/map-d@1x.jpg") type("image/jpg") 1x,
      url("../../images/map-d@2x.webp") type("image/jpg") 2x);
  }
}

.map__google iframe {
  border: none;
  display: block;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}
