.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid red;
}

.nav-list__item {
    border-bottom: 1px solid red;
}

.nav-list__link {
    font-family: $oswald;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 23px 0 22px;
}