.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    display: flex;
    border-top: none;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    max-width: 900px;
    justify-content: flex-end;
  }
}


.nav-list__item {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    position: relative;
  }
}

.nav-list__item--current {
  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      background-color: $theme;
      width: calc(100% - 12px);
      height: 2px;
      position: absolute;
      top: 46px;
      left: 6px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: calc(100% - 35px);
      top: 52px;
      left: 37px;
    }
  }
}


.nav-list__link {
  font-family: $oswald;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 23px 0 22px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 17px 6px;

    @media (min-width: $desktop-width) {
      font-size: 20px;
      line-height: 30px;
      padding: 16px 0 20px 34px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav-list__link--index {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

