.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 22px 20px;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0 37px 39px;
    background-color: #f2f2f2;
    position: relative;

    &::before {
      content: "";
      background: #ffffff;
      width: 326px;
      height: 71px;
      position: absolute;
      top: 0;
      left: -1px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px;

    &::before {
      width: 246px;
    }
  }
}

.product-card--add {
  display: block;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 233px 36px 10px;
    border: 1px solid #ebebeb;

    &::before {
      border-bottom: 1px solid #ebebeb;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 221px;
  }
}

.product-card__img {
  @media (min-width: $tablet-width) {
    padding: 0 25px;
    margin-bottom: 19px;
    position: relative;
    z-index: 10;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__image {
  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.product-card__description {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.product-card__link {
  text-decoration: none;
  color: #222222;
}

.product-card__title {
  margin: 2px 0 11px;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 99px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    width: 140px;
    text-align: center;
    margin-bottom: 13px;
    padding: 0 53px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 16px;
    padding: 0 15px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__title--base {
  margin: 59px 0 8px;
  width: 100%;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: url("../../icons/stack.svg#plus") no-repeat 0 0;
    top: -54px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 21px;
    padding: 0;
    width: 175px;

    &::after {
      width: 60px;
      height: 60px;
      top: -110px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;

    &::after {
      top: -99px;
    }
  }
}

.product-card__options {
  font-size: 12px;
  color: #444444;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.product-card__parameters {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__property {
  margin: 0;
  text-align: start;

  @media (min-width: $tablet-width) {
    padding: 7px 0 5px;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 0 6px;
  }
}

.product-card__value {
  margin: 0;
  text-align: end;

  @media (min-width: $tablet-width) {
    padding: 7px 0 5px;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 0 6px;
  }
}

.product-card__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 9px;
  }
}

.product-card__text {
  margin: 0 0 20px;
  font-size: 12px;
  color: #444444;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 82px;
    width: 225px;
  }
}

.product-card__button {
  border: none;
  font-family: $oswald;
  font-size: 16px;
  line-height: 40px;
  background-color: $theme;
  color: #ffffff;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  padding: 0;

  &:focus,
  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.product-card__button--accent {
  background-color: #f2f2f2;
  color: #444444;

  &:focus,
  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
