.product-card__link {
  text-decoration: none;
  color: #222222;
}

.product-card__title {
  margin: 0;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__property {
  margin: 0;
}

.product-card__value {
  margin: 0;
}

.product-card__text {
  margin: 0;
}
