.program {
  margin-top: 20px;
  padding: 20px;
  background: $background-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $theme;
    border-radius: 50%;
    top: 23px;
    left: 20px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 200px;
      height: 200px;
      top: 74px;
      left: 447px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: 100px;
      height: 100px;
      top: 130px;
      left: 72px;
    }
  }
}

.program--slim {
  &::before {
    content: "";
    width: 36px;
    height: 50px;
    position: absolute;
    background: url("../../icons/stack.svg#slim") no-repeat 0 0;
    top: 19px;
    left: 28px;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 140px;
      height: 194px;
      top: 63px;
      left: 476px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 72px;
      height: 97px;
      top: 104px;
      left: -4px;
    }
  }
}

.program--pro {
  &::before {
    content: "";
    width: 67px;
    height: 28px;
    position: absolute;
    background: url("../../icons/stack.svg#pro") no-repeat 0 0;
    top: 34px;
    left: 14px;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 270px;
      height: 116px;
      top: 258px;
      left: 413px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 136px;
      height: 96px;
      top: 131px;
      left: 53px;
    }
  }
}

.program__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 9px;
  margin-bottom: 32px;
  padding-left: 70px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding: 0;
    margin: 0 0 15px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 214px;
    margin: 0 0 65px;
  }
}

.program__text {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 18px;
  margin: 0 0 17px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 58px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    max-width: 600px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 52px;
    margin-bottom: 32px;
  }
}

.program__link {
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    background: url("../../icons/stack.svg#arrow") no-repeat 0 0;
    top: 6px;
    left: 101px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 9px;
      left: 132px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 53px;

    &::before {
      top: 9px;
      left: 183px;
    }
  }
}
