.programs {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
    width: 1220px;
  }
}

.programs__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    padding: 69px 320px 58px 53px;
    margin-top: 0;
    margin-bottom: 31px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px;
    padding: 68px 0 62px;
  }
}

.programs__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
  }
}

