.promotion {
  position: relative;
  background-image:
    image-set(
      url("../../images/additional-products-m@1x.webp") type("image/webp") 1x,
      url("../../images/additional-products-m@2x.webp") type("image/webp") 2x,
      url("../../images/additional-products-m@1x.jpg") type("image/jpg") 1x,
      url("../../images/additional-products-m@2x.webp") type("image/jpg") 2x);
  background-repeat: no-repeat;
  background-position: center center;
  height: 290px;
  background-size: cover;

  &::after {
    content: "";
    opacity: 0.85;
    background-color: $theme;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &::before {
    content: "";
    width: 79px;
    height: 87px;
    position: absolute;
    background: url("../../icons/stack.svg#present") no-repeat 0 0;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    margin-top: 71px;
    background-image:
      image-set(
        url("../../images/additional-products-t@1x.webp") type("image/webp") 1x,
        url("../../images/additional-products-t@2x.webp") type("image/webp") 2x,
        url("../../images/additional-products-t@1x.jpg") type("image/jpg") 1x,
        url("../../images/additional-products-t@2x.webp") type("image/jpg") 2x);
    height: 200px;

    &::before {
      left: 17%;
    }
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../images/additional-products-d@1x.webp") type("image/webp") 1x,
        url("../../images/additional-products-d@2x.webp") type("image/webp") 2x,
        url("../../images/additional-products-d@1x.jpg") type("image/jpg") 1x,
        url("../../images/additional-products-d@2x.webp") type("image/jpg") 2x);
    width: 245px;
    min-height: 290px;


    &::before {
      left: 51%;
    }
  }
}

.promotion__text {
  position: absolute;
  margin: 0 0 42px;
  padding-top: 188px;
  width: 190px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    left: 73%;
    top: 70px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    top: 185px;
    left: 51%;
  }
}

